
.container-carrossel {
  padding: 20px;
  background-color: #f0f4f8; /* Um tom azulado bem leve */
}

.grid-arquivos {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 10px;
}

.card-relatorio {
  min-width: 200px;
  border: 1px solid #0056b3; /* Azul padrão */
  border-radius: 8px;
  padding: 10px;
  background: white;
  text-align: center;
}

.card-relatorio img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}